{% extends 'base.html' %}
{% block title %}{{ status.title}}{% endblock %}
{% block menu %}

    <li><a href="{% url 'status_update' status.pk %}">Edit</a></li>
    <li><a href="{% url 'status_delete' status.pk %}">Delete</a></li>

{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ status.summary}}</h1>
        <p>Category: {{ status.description }}</p>
        <p>Created by {{ status.status }} at {{ status.created_at|date:'Y-m-d H:i:s' }}</p>
        <div class="pre">{{ status.type }}</div>
    </div>
{% endblock %}
