{% extends "base.html" %}
{% block title %}Delete type{% endblock %}
{% block menu %}
    <li><a href="{% url 'type_delete' type.pk %}">View</a></li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete task "{{ type }}"?</h1>
    <form method="POST" action="{% url "type_delete" type.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Confirm" class="btn btn-danger"></p>
        <p><a href="{% url 'type_delete' type.pk %}" class="btn btn-default">Cancel</a></p>
    </form>
{% endblock %}
